<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.iths.apostolidis.quickmaths">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiplayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SinglePlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CopyDbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OfflineModeSetupActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".GameLobbyStuff.GameLobbyActivity" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AvatarActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".GameLobbyStuff.ShowOnlineActivity" />
        <activity android:name=".GameLobbyStuff.FindLobbyActivity" />
        <activity android:name=".GameLobbyStuff.MultiplayerGameActivity" />
        <activity android:name=".WinnerActivity"></activity>
    </application>

</manifest>